.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
